@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-noto: "Noto Sans", serif; 
}

:root {
    --deepNavyBlue: rgba(25,48,87,1);
    --aquaGreen: rgba(40, 226, 173, 1);

  }

  body {
    font-family: "Noto Sans", serif;
}
@layer base {
 
   
    h1 {
        font-size: 4.5rem;
        line-height: 6.66rem;
        color: #ffffff;
        font-weight: 700;
      }
    h2 {
          font-size: 4rem;
          line-height: 5.92rem;
          color: var(--deepNavyBlue);
          font-weight: 700;
      }
      p {
        font-size: 1rem;
      }
      
     
     
}


@layer components {
    .description-text {
      font-size: 1.125rem;
      line-height: 2.0625rem;
      color: rgba(127, 127, 127, 1);
      font-weight: 400;
  }
  
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-size: 3rem;
      line-height: 3.33rem;
    }
    h2 {
      font-size: 2.5rem;
      line-height: 1.995rem;
     }
  }

  @media (min-width: 641px) and (max-width: 767px) {
    h1 {
      font-size: 2.5rem;
      line-height: 2.9375rem;
     }

     h2 {
      font-size: 2rem;
      line-height: 1.995rem;
     }
  }

  @media (max-width:640px) {
    h1 {
      font-size: 2rem;
      line-height: 2.9375rem;
     }

     h2 {
      font-size: 1.5rem;
      line-height: 1.995rem;
     }
     p {
      font-size: .875rem;
     }
     span {
      font-size: .875rem;
     }
  }


/* Hero section buttons animation */
@keyframes float1 {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(2deg); }
    100% { transform: translateY(0) rotate(0deg); }
}

@keyframes float2 {
    0% { transform: translateY(0) translateX(0) rotate(0deg); }
    50% { transform: translateY(-8px) translateX(5px) rotate(-2deg); }
    100% { transform: translateY(0) translateX(0) rotate(0deg); }
}

@keyframes float3 {
    0% { transform: translateY(0) translateX(0) rotate(0deg); }
    50% { transform: translateY(-6px) translateX(-5px) rotate(3deg); }
    100% { transform: translateY(0) translateX(0) rotate(0deg); }
}

.floating-button:nth-child(1) {
    animation: float1 3s infinite ease-in-out;
}

.floating-button:nth-child(2) {
    animation: float2 3s infinite ease-in-out 0.5s; /* Small delay */
    margin-top: 3rem;
}

.floating-button:nth-child(3) {
    animation: float3 3s infinite ease-in-out 1s; /* Different timing */
    margin-top: 3.5rem;
}
.floating-button:nth-child(4) {
  animation: float1 3s infinite ease-in-out;
}

.floating-button:nth-child(5) {
  animation: float2 3s infinite ease-in-out 0.5s; /* Small delay */
  margin-top: 3rem;
}

.floating-button:nth-child(6) {
  animation: float3 3s infinite ease-in-out 1s; /* Different timing */
  margin-top: 3.5rem;
}


